body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

main > * {
    background-color: lightblue;
    border-radius: 0.25rem;
    padding: 2em;
}

main > :nth-child(1) {
    grid-column: span 2;
}

main > :nth-child(2),
main > :nth-child(3) {
    grid-column: span 1;
}

main > :nth-child(4),
main > :nth-child(5) {
    grid-row: span 1;
    grid-column: span 2;
}