.home {
  @apply mx-auto my-5 p-8;
  @apply border border-gray-light-1;
  @apply rounded-lg;
  @apply shadow-lg;

  width: 70dvw;
}

/*
  tailwind tohle umí
*/
button {
  width: 60px;
  height: 40px;
}
