@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-sans text-lg text-black font-medium;
  @apply p-0 m-0 min-w-[320px];
  @apply bg-white scroll-smooth;
}

.row {
  @apply mb-4;
}
